  <div class="login-card p-4">
    <div class="text-center mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#ff6f00" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M13.468 12.37C12.758 11.226 11.523 10.5 10 10.5s-2.758.726-3.468 1.87A6.987 6.987 0 0 1 2 8a6.987 6.987 0 0 1 4.532-6.37C7.242 3.774 8.477 4.5 10 4.5s2.758-.726 3.468-1.87A6.987 6.987 0 0 1 14 8a6.987 6.987 0 0 1-0.532 4.37z"/>
        <path fill-rule="evenodd" d="M10 8a2 2 0 1 0-4 0 2 2 0 0 0 4 0z"/>
      </svg>
    </div>
    <form (submit)="onSubmit()" #loginForm="ngForm" novalidate>
      <div class="mb-3">
        <label for="email" class="form-label fw-bold">Correo Electrónico</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Ingresa tu Correo Electrónico" required [(ngModel)]="email" #emailInput="ngModel" />
        <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger small">Correo válido es requerido.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label fw-bold">Contraseña</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Ingresa tu contraseña" required [(ngModel)]="password" #passwordInput="ngModel" />
        <div *ngIf="passwordInput.invalid && passwordInput.touched" class="text-danger small">La contraseña es requerida.</div>
      </div>
      <button type="submit" class="btn btn-warning w-100 fw-bold" [disabled]="loginForm.invalid">Iniciar Sesión</button>
    </form>
  </div>
