.login-background {
  background-color: #d96800;
  padding: 0;
  height: auto;
  display: block;
}

.login-card {
  background: #ffffff;
  border-radius: 8px;
  width: 100%;
  box-shadow: none;
  padding: 0;
  background-color: #d96800;
}
